{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <meta name="description" content="">
        <meta name="author" content=""> -->

        <title>Harmony</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;600;700&display=swap" rel="stylesheet">

        <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'bootstrap-icons.css' %}" rel="stylesheet">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet"> -->

        <link href="{% static 'index.css' %}" rel="stylesheet">
<!--

TemplateMo 588 ebook landing

https://templatemo.com/tm-588-ebook-landing

-->
    </head>
    
    <body>

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <!-- <i class="navbar-brand-icon bi-book me-2"></i> -->
                        <img src="{% static 'images/logo.png' %}" class="img-fluid navbar-brand-icon" alt="">
                        <span>Harmony</span>
                    </a>

                    <div class="d-lg-none ms-auto me-3">
                        <a href="login" class="btn custom-btn custom-border-btn btn-naira btn-inverted">
                            <i class="btn-icon ">login</i>
                            <span>login</span><!-- duplicated another one below for mobile -->
                        </a>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-auto me-lg-4">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_1">Home</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">About</a>
                            </li>

                            <!-- <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_3"></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_4">Reviews</a>
                            </li> -->

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_5">Contact</a>
                            </li>
                        </ul>

                        <div class="d-none d-lg-block">
                            <a href="login" class="btn custom-btn custom-border-btn btn-naira btn-inverted">
                                <i class="btn-icon ">login</i>
                                <span>Login</span><!-- duplicated above one for mobile -->
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            

            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">

                    </div>
                </div>
            </section>


            <section class="featured-section">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12">
                            <div class="avatar-group d-flex flex-wrap align-items-center">
                                <div class="reviews-group mt-3 mt-lg-0">
                                    <strong>4.5</strong>

                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star"></i>

                                    <small class="ms-3" style="color: azure;">Sign up to listen to perfect harmony....</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="py-lg-5"></section>


            <section class="book-section section-padding" id="section_2">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <img src="{% static 'images/5.jpg' %}" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="book-section-info">
                                <h2 class="mb-4">About</h2>
                                <p>
                                    Whether you're a casual listener or a devoted music enthusiast, our platform is crafted with love to provide a seamless and enjoyable musical journey. Join us as we harmonize technology and melody, creating a space where music lovers can unite and discover the beats that resonate with their souls. Embrace the rhythm, feel the vibe, and let the music play on!  
                                </p>
                                <p>
                                    Powered by the Spotify API...
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>






            <section class="contact-section section-padding" id="section_3">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-5 col-12 mx-auto">
                            <form class="custom-form ebook-download-form bg-white shadow" action="#" method="post" role="form">
                                <div class="text-center mb-5">
                                    <h2 class="mb-1">Support </h2>
                                </div>

                                <div class="ebook-download-form-body">
                                    <div class="input-group mb-4">
                                        <input type="text" name="ebook-form-name" id="ebook-form-name" class="form-control" aria-label="ebook-form-name" aria-describedby="basic-addon1" placeholder="Leave a message... " required>

                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="custom-form-icon bi-person"></i>
                                        </span>
                                    </div>

                                    <div class="col-lg-8 col-md-10 col-8 mx-auto">
                                        <button type="submit" class="form-control">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-6 col-12">
                            <h6 class="mt-5"> </h6>

                            <h3 class="mb-4" style="color: azure;">Contact Support</h3>

                            <p class="mb-3">
                                <i class="bi-geo-alt me-2"></i>
                                Abuja, Nigeria
                            </p>

                            <p class="mb-2">
                                <a href="tel: 080-4005-3005" class="contact-link">
                                   080-4005-3005
                                </a>
                            </p>

                            <p>
                                <a href="mailto:info@harmony.com" class="contact-link">
                                    info@harmony.com
                                </a>
                            </p>

                            <h6 class="site-footer-title mt-5 mb-3">Social</h6>

                            <ul class="social-icon mb-4">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-instagram"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>
                                
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-whatsapp"></a>
                                </li>
                            </ul>

                            <p class="copyright-text">Copyright © 2023 Kingfoxx
                        </div>

                    </div>
                </div>
            </section>
        </main>

        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'javascript/jquery.min.js' %}"></script>
        <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'javascript/jquery.sticky.js' %}"></script>
        <script src="{% static 'javascript/click-scroll.js' %}"></script>
        <script src="{% static 'javascript/index.js' %}"></script>

    </body>
</html>